<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<% if (user) { %>
		<a href="/signout">Sign out</a>			
	<% } else { %>
		<a href="/signup">Signup</a>
		<a href="/signin">Signin</a>
	<% } %>
	
	<section ng-view></section>

	<script>
		window.user = <%- user || 'null' %>;
	</script>

	<!-- <section ng-include="'example/views/example.client.view.html'"></section> -->

	<script src="/lib/angular/angular.js" type="text/javascript"></script>
	<script src="/lib/angular-route/angular-route.js" type="text/javascript"></script>

	<script src="/example/example.client.module.js" type="text/javascript"></script>
	<script src="/example/controllers/example.client.controller.js" type="text/javascript"></script>
	<script src="/example/config/example.client.routes.js" type="text/javascript"></script>

	<script src="/users/users.client.module.js" type="text/javascript"></script>
	<script src="/users/services/authentication.client.module.js" type="text/javascript"></script>

	<script src="/application.js" type="text/javascript"></script>
</body>
</html>